@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;

    .navbar {
        overflow: hidden;
        background-color: #c4f7ff ;
    }

    .navbar p{
        float: left;
        padding: 0px 20px;
        font-size: 16;
        font-weight: bold;
    }

    .navbar a {
        float: right;
        display:block;
        color: black;
        text-align: center;
        padding: 14px 75px;
        text-decoration: none;
        &:hover{
            background-color: #1285a5;
            color: black;
        }
    }

    .header {
        padding: 80px;
        text-align: center;
        background-color: #124475;
        color: white;
    }

    .header h1{
        font-size: 70px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
    }

    .rev-column {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0px;
        width: calc(33.333% - 40px);
        margin-bottom: 20px;
        text-align: center;
    }
    
    .rev-column img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    
    .rev-column h2 {
        font-size: 15;
        margin-bottom: 10px;
    }
    
    .rev-column p {
        font-size: 12;
        color: #333;
        margin-bottom: 15px;
    }

    .feedback {
        overflow: hidden;
        background-color: #fffabc;
    }

    .feedback p {
        font-size: 15;
        color: black;
        margin-right: 10px;
        text-align: center;
    }

    .feedback button {
        margin:  20px auto;
        display: block;
        background-color: transparent;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
        font: 12;
        margin-top: auto;

        &:hover{
            background-color: #9e201e;
            color: white;
        }
    }

    .footer {
        padding: 10px 10px;
        text-align: center;
        background-color: black;
        color: white;
        font-size: 12px;
    }
}